@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 1000px;
  border-bottom: 1px solid #f2f2f2;
}

.title {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}
.hamburger {
  font-size: 25px;
}
.links {
  display: flex;
  align-items: center;
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.links ul li {
  padding: 7px;
}

.links ul li:hover {
  background-color: #263138;
}

.links ul li a:hover {
  color: white;
}

.links li {
  margin-bottom: 10px; /* Menambahkan jarak antara link */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
}

.dropdown-content a {
  color: #445964;
  padding: 8px 3px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  color: #263138;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Membuat garis d bawhah menu */
.navbar a {
  /* margin-left: 16px; */
  text-decoration: none;
  padding: 15px;
  font-size: 16px;
  color: #445964;
  position: relative;
}

/* .navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: #445964;
  transition: width 0.3s;
}

.navbar a:hover::after {
  width: 100%;
} */

/* Bagian card */
.container {
  margin-top: 150px;
}
.container .lecture {
  margin-top: 100px;
  color: #445964;
  font-size: 35px;
  text-align: center;
}

.container .capt {
  color: #737373;
  text-align: center;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 23px;
}

.card img {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.card p {
  margin-top: 23px;
}

/* bagian contact */

.contact-us {
  text-align: center;
  background-color: #fafafa;
}

.contact-us h2 {
  margin-top: 100px;
  color: #445964;
  font-size: 35px;
  text-align: center;
}

.contact-us p {
  color: #737373;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
}

input,
textarea {
  width: 350px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #445964;
  border-radius: 3px;
}

button {
  background-color: #445964;
  color: #fff;
  margin-top: 20px;
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

/* bagian Footer */
footer {
  margin-top: 70px;
  background-color: #263138;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer .top-section {
  margin: 10px;
}

/* bagian artickle list */
.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}
.article {
  margin-top: 50px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 5px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
}

.blog-preview .article {
  color: #263138;
}

.blog-preview a {
  text-decoration: none;
  color: #445964;
}

/* bagian article list */
.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 850px;
}

.container-box .judul {
  margin-top: 50px;
  font-size: 30px;
  color: #445964;
  /* margin-bottom: 10px; */
}

.container-box h3 {
  color: #445964;
}

.container-box p {
  text-align: justify;
  margin: 10px 0;
  overflow-wrap: break-word;
}

.container-box .content {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container-box .content .img {
  width: 350px;
  height: 250px;
}

span {
  font-weight: bold;
}

.content .code .box {
  margin-top: 10px;
  background-color: #f2f2f2 !important;
  padding: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

.content .box h4 {
  padding: 10px;
}

.content ul {
  margin-bottom: 20px;
}

.tutorial {
  background-color: #f2f2f2 !important;
  overflow-x: auto;
}

img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

.dataset {
  margin: 30px 0;
}

.dataset .image {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.dataset .plot {
  width: 55%;
  height: 55%;
}

hr {
  margin: 10px 0;
  border: 1.2px solid #222;
}

/* bagian tabel */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

h4 {
  margin-top: 15px;
}

h3 {
  margin-top: 15px;
}

/* bagian realated post */
.container-box .related-post h2 {
  font-size: 30px;
  color: #445964;
}

@media only screen and (max-width: 776px) {
  /* bagian navbar */
  .menu-toggle {
    display: block;
    padding: 10px;
  }

  .links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
  }

  .links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .links ul li {
    padding: 10px;
  }

  .links.open {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .title {
    justify-content: space-between;
  }

  .logo-container {
    order: -1; /* Menggeser logo ke kiri */
  }

  .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: #445964;
    transition: width 0.3s;
    margin-bottom: 10px;
  }

  .dropdown .dropdown-content {
    display: block;
    background-color: #f0f0f0;
  }

  .dropdown .dropdown-content:hover {
    color: #263138;
  }

  /* bagian jumpbotron */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Dua kolom yang setara lebar */
    place-items: center;
  }

  .grid-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-container h2 {
    margin-bottom: 15px;
    text-align: center;
  }

  .text-container a {
    margin-bottom: 10px;
  }

  .grid-container .image-container img {
    display: none;
  }

  /* bagian card */
  .container {
    margin-top: 0px;
  }

  .container .lecture {
    margin-top: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* bagian contact */
  input,
  textarea {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #445964;
    border-radius: 3px;
  }

  /* bagian article */
  .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
  }

  .container-box {
    margin: 10px;
  }

  .blog-preview {
    width: 80%; /* Mengatur lebar blog preview untuk layar kecil */
    margin: 0 auto; /* Pusatkan blog preview pada layar kecil */
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    word-break: break-all;
  }

  /* bagian image */
  img {
    width: 300px;
    height: 230px;
  }

  .container-box .content .img {
    width: 350px;
    height: 250px;
  }
}
